@font-face {
	font-family: "Josefin Light";
	src: url("./../fonts/JosefinSans-Light.ttf");
}
@font-face {
	font-family: "Josefin Regular";
	src: url("./../fonts/JosefinSans-Regular.ttf");
}
@font-face {
	font-family: "Josefin Semi Bold";
	src: url("./../fonts/JosefinSans-SemiBold.ttf");
}

:root {
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	--dark-grayish-red: hsl(0, 6%, 24%);
	--white-gradient: linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
	--pink-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/* Layout */

body {
	font-family: "Josefin Regular", sans-serif;
	color: var(--desaturated-red);
}

img {
	width: 100%;
	height: auto;
}

h1 {
	padding: 2rem;
}

.copy-headline,
p,
form {
	width: 85%;
	margin: 0 auto;
}
/* end Layout */

/* Logo */
.logo {
	width: 33%;
}
/* end Logo */

/* Copy */
.picture {
	margin-block-end: 3rem;
	background-image: url("./../images/hero-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 30vh;
}

.copy-headline,
p {
	text-align: center;
}

p {
	line-height: 1rem;
	line-height: 2.5vh;
	font-size: 4vw;
	margin-block-end: 2rem;
}

.copy-headline {
	font-size: 10vw;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-block-end: 1rem;
	line-height: unset;
}

/* end Copy */

/* Form */
form {
	height: 3.5rem;
	border: 1px solid var(--desaturated-red);
	justify-content: space-between;
	border-radius: 3rem;
	max-width: 100%;
	box-sizing: border-box;
	position: relative;
}

form ::placeholder {
	font-family: "Josefin Light";
	color: var(--desaturated-red);
}

.email-input,
.email-submit {
	box-sizing: border-box;
}

.email-input {
	border: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	padding-inline-start: 1.5rem;
	border-radius: 3rem;
}

.email-submit {
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 24%;
	border-radius: 3rem;
	background: var(--pink-gradient);
	background-repeat: no-repeat;
	background-position: center;
	background-color: unset;
}

.email-submit img {
	box-sizing: border-box;
	max-width: 65%;
	max-height: 100%;
	padding: 1rem;
}
/* end Form */

/* Image */
/* end Image */

.attribution {
	font-size: 11px;
	text-align: center;
	position: fixed;
	bottom: 1rem;
	margin: 0 auto;
	width: 100%;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.grey-text-color {
	color: var(--dark-grayish-red);
}

@media screen and (min-width: 1440px) {
	body {
		min-height: 100vh;
		padding: unset;
		background-image: url("./../images/bg-pattern-desktop.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 55% 100%;
	}

	main {
		height: 100vh;
	}

	/* Reset padding and margins */
	h1 {
		padding: unset;
	}
	p,
	.copy-headline,
	form {
		margin: unset;
	}
	/* End reset padding and margins */

	/* Layout */
	h1 {
		padding-block-start: 6vh;
		height: unset;
	}

	h1,
	.copy {
		padding-inline-start: 10rem;
	}
	form {
		margin-inline-start: 10rem;
		grid-row-start: 3;
		max-width: 67%;
	}
	/* End layout */

	section {
		height: 100vh;
		min-height: 100%;
		display: grid;
		grid-template-columns: 1fr 45%;
		grid-template-rows: 20vh 52vh auto;
		column-gap: 6vw;
	}

	.picture {
		grid-column-start: 2;
		grid-row: 1 / span 3;
		background-image: url("./../images/hero-desktop.jpg");
		background-position: center;
		background-size: cover;
		height: 100%;
	}

	.copy-headline {
		font-size: 5rem;
		text-align: unset;
		margin-block-end: 5vh;
	}

	p {
		text-align: unset;
		font-size: 1.5vw;
		line-height: 4vh;
		font-size: 1.33vw;
	}

	.email-submit {
		width: 18%;
	}

	.email-submit img {
		width: 3rem;
	}
}
